{% extends "layout.html" %}
{% block title %}Index{% endblock %}

{% block content %}
    <table class="mdl-data-table mdl-js-table mdl-shadow--2dp sortable mdl-cell mdl-cell--3-col">
        <thead>
            <tr>
                <th class="mdl-data-table_-cell--non-numeric">Full Name</th>
                <th class="mdl-data-table_-cell--non-numeric">Username</th>
                <th class="mdl-data-table_-cell--non-numeric">Roles</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><a href="{{ url_for(".user_edit", id=user.id) }}">{{ user.fullname }}</a></td>
                <td class="mdl-data-table__cell--non-numeric">{{ user.username }}</td>
                <td class="mdl-data-table__cell--non-numeric">{% if user.roles is not none %}{{ ", ".join(user.roles) }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mdl-card__actions">
        <a class="mdl-button mdl-button--colored mdl-js-button" href="{{ url_for(".user") }}">All users</a>
    </div>
{% endblock %}
