{% for event in events %}
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card">
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">
            <a href="{{ url_for("speech.index", event=event.id) }}" class="rede-title-no-decoration">
                {{ event.name }}
            </a>
            {% if event.paused %}
                (Paused)
            {% endif %}
            </h4>
        </div>
        {% for topic in event.topics %}
            <div class="mdl-card__supporting-text {% if topic.id == event.current_topic_id %}rede-list-point-big{% endif %}">
                {{ topic.name }}
            </div>
        {% endfor %}
    </div>
{% endfor %}
