    {% for (statement, speaker, count), topic in meta %}
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">{{ topic.name }}: {{ speaker.name }}</h3>
        </div>
        <div class="mdl-card__actions">
            {% if current_user.is_authenticated() and "user" in current_user.roles %}
            <a href="{{ url_for("speech.index", topic=event.id) }}">
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    <i class="material-icons" role="presentation">build</i>
                </button>
            </a>
            {% endif %}
            <a href="{{ url_for("speech.show", topic=event.id) }}">
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    <i class="material-icons" role="presentation">list</i>
                </button>
            </a>
        </div>
    </div>
    {% endfor %}
