<!doctype html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.red-blue.min.css" /> 
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <script src="{{ url_for('static', filename='js/sorttable.js') }}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="description" content="moderation tool for handling speaking order">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>{% block title %}Unknown Page{% endblock %} - Redeleitsystem</title>
    {% block additional_js %}
    <!-- Place to insert more .js-files -->
    {% endblock %}
    {% endblock %}
</head>
<body>
<div class="rede-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="rede-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <a href="{{ url_for('index') }}"><span class="mdl-layout-title">Redeleitsystem</span></a>
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effet mdl-button--icon" id="hdrbtn">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                {% block topnav %}
                    <li class="mdl-menu__item">Impressum</li>
                {% endblock %}
            </ul>
        </div>
    </header>
    <div class="rede-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="rede-drawer-header">
            <div class="rede-account-dropdown">
                <span>
                {% if current_user.is_authenticated() %}
                    <p class="md-24">
                        <i class="material-icons md-48">
                            {% if "user" in current_user.roles and not "admin" in current_user.roles %}
                                person_outline
                            {% elif "admin" in current_user.roles %}
                                person
                            {% else %}
                                face
                            {% endif %}</i>
                        {{ current_user.fullname }}
                    </p>
                {% else %}
                    <p class="md-24">
                        <i class="material-icons md-48">face</i>
                        Guest
                    </p>
                {% endif %}
                <div class="mdl-layout-spacer"></div>
                <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons" role="presentation">arrow_drop_down</i>
                    <span class="visuallyhidden">Account</span>
                </button>
                </span>
                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effet" for="accbtn">
                    {% if current_user.is_authenticated() %}
                    <li class="mdl-menu__item"><a class="mdl-navigation__link" href="{{ url_for("logout") }}">Logout</a></li>
                    {% else %}
                    <li class="mdl-menu__item"><a class="mdl-navigation__link" href="{{ url_for("login") }}">Login</a></li>
                    <li class="mdl-menu__item"><a class="mdl-navigation__link" href="{{ url_for("register") }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </header>
        <nav class="rede-navigation mdl-navigation mdl-color--blue-grey-800">
            {% if current_user.is_authenticated() and "user" in current_user.roles %}
            <a class="mdl-navigation__link" href="{{ url_for("speech.index", mode="pending") }}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">build</i>Handle speakers</a>
            {% endif %}
            <a class="mdl-navigation__link" href="{{ url_for("speech.show", mode="pending") }}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">announcement</i>Pending speakers</a>
            <a class="mdl-navigation__link" href="{{ url_for("speech.show", mode="all") }}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">list</i>All speakers</a>
            <a class="mdl-navigation__link" href="{{ url_for("speech.show", mode="past") }}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">schedule</i>Past speakers</a>
            {% if current_user.is_authenticated() and "admin" in current_user.roles %}
            <a class="mdl-navigation__link" href="{{ url_for("admin.index") }}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">computer</i>Administration</a>
            {% endif %}
        </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
        <div id="rede-content-div" class="mdl-grid rede-content">
        {% block content %}
        There is no content yet.
        {% endblock %}
        </div>
    </main>
    <script src="http://www.getmdl.io/material.min.js"></script>
</body>
</html>
