{% for event in events %}    
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--2dp">
    {% if event.paused %}
        <div class="mdl-card__title rede-paused-title">
            <h4 class="mdl-card__title-text rede-paused-title-text">
                Paused until {{ event.paused_until.strftime("%H:%M") }}
            </h4>
        </div>
    {% endif %}
    <div class="mdl-card__title">
        {{ event.name }}: {{ event.get_current_topic().name }}
    </div>
    <table class="mdl-data-table mdl-js-table" style="min-width: 100%">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Speaker</th>
                <th class="mdl-data-table__cell">Count</th>
            </tr>
        </thead>
        <tbody>
        {% for topic in event.topics %}
            {% if topic.id == event.current_topic_id %}
                <tr class="rede-table-bg-blue rede-table-centered">
                    <td colspan="2">{{ topic.name }}</td>
                </tr>
                {% for statement in event.get_current_topic().sorted_statements() %}
                    {% if statement.is_meta %}
                    <tr class="mdl-color--red mdl-color-text--white">
                    {% else %}
                    <tr>
                    {% endif %}
                        <td class="mdl-data-table__cell--non-numeric">{{ statement.speaker.identifier() }}</td>
                        <td class="mdl-data-table__cell">
			    {% if statement.is_meta %}
				META
			    {% else %}
				{{ statement.speaker.count(event.get_current_topic()) }}
			    {% endif %}

			</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="rede-table-centered">
                    <td colspan="2">{{ topic.name }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endfor %}
