{% from "macros.html" import render_form %}
    {% for statements, topic in meta %}
        <table class="mdl-data-table mdl-js-table mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Speaker for {{ topic.name }}</th>
                </tr>
            </thead>
            <tbody>
            {% for statement, speaker, count in statements %}
                {% if not statement.executed %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            <h5>{{ speaker.name }}</h5>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
