{% extends "layout.html" %}
{% from "macros.html" import render_form %}
{% block title %}Statements{% endblock %}

{% block content %}
    <table class="mdl-data-table mdl-js-table mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone sortable">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Speaker</th>
                <th>Count</th>
                {% if "user" in current_user.roles %}
                <th class="mdl-data-table__cell--non-numeric">Done</th>
                <th class="mdl-data-table__cell--non-numeric">Cancel</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for statement, speaker, count in statements %}
            {% if not statement.executed %}
            <tr>
                <td class="mdl-data-table__cell--non-numeric">
                    <h5>{{ speaker.name }}</h5>
                </td>
                <td>
                    <h5>{{ count }}</h5>
                </td>
                {% if "user" in current_user.roles %}
                <td class="mdl-data-table__cell--non-numeric">
                    <a href="{{ url_for(".done", statement=statement.id) }}">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                            <i class="material-icons">done</i>
                        </button>
                    </a>
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    <a href="{{ url_for(".cancel", statement=statement.id) }}">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                            <i class="material-icons">delete</i>
                        </button>
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% if current_user.is_authenticated() and "user" in current_user.roles %}
        {{ render_form(add_form, action_url=url_for('.add', next=current), action_text="Add", title="Add Speaker") }}
    {% endif %}
{% endblock %}
